{% extends 'base.html' %}

{% load static %}

{% block title %}
    Blog
{% endblock %}


{% block content %}
    <h1>This is the Blog page</h1>
    <form method="get" action ="{% url 'blog_search' %}">
        <input type="text" name = "q" placeholder = "Search blog posts...">
                <input type="submit">
    </form>


    {% for blog in blogs %}
    <li>
        <p>
            <a href="{% url 'blog_post' blog.id %}">
                {{ blog.image }} <br>
            </a>
            <a href="{% url 'blog_post' blog.id %}">
                {{ blog.title }} <br>
            </a>
            {{ blog.date_created }} <br>
            {{ blog.text }} <br>
        </p>
    </li>
    {% endfor %}
{% endblock %}