{% extends 'base.html' %}

{% load static %}

{% block title %}
    Singup
{% endblock %}


{% block content %}
    {% load crispy_forms_tags %}
    <h1>This is Signup page</h1>

    <div class="container py-5">
        <h1>Sign up</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form }}     
            <br>               
            <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
        <p class="text-left">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
    </div>
{% endblock %}