
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
	<div class="container">
		<a class="navbar-brand" href="{% url 'home' %}">Tarson Finance</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav ml-auto">				
				<li class="nav-item">
					<a class="nav-link" href="{% url 'about' %}">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'education' %}">Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'investment' %}">Investments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'loans' %}">Loans</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'blog' %}">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contacts' %}">Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'signup' %}">Signup</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
